/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
// @import "~@ionic/angular/css/normalize.css";
// @import "~@ionic/angular/css/structure.css";
// // @import "~@ionic/angular/css/typography.css";
// @import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";

@import '~@pxblue/colors/palette.scss';

html, body { 
  margin: 0;
  height: 100%;
  width: 100%;
}

ion-header, ion-toolbar {
    color: map-get($pxb-white, 50);
    --color : map-get($pxb-white, 50);
    --background: map-get($pxb-blue, 500); 
    background: map-get($pxb-blue, 500); 
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;   
}

.action-sheet-group.sc-ion-action-sheet-ios {
  border-radius: 0;
  margin-bottom: 0;
}


.action-sheet-button.sc-ion-action-sheet-ios {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  height: 52px;
  background: transparent;
  color: var(--color,var(--ion-color-step-850,#262626));
  font-size: 16px;
  text-align: start;
  contain: strict;
  overflow: hidden;
}
.action-sheet-button-inner.sc-ion-action-sheet-ios {
 
  align-items: left;
  justify-content: left;
}
.action-sheet-button.sc-ion-action-sheet-ios .action-sheet-icon.sc-ion-action-sheet-ios {
  -webkit-margin-end: 32px;
  margin-inline-end: 32px;
}

.action-sheet-cancel.sc-ion-action-sheet-ios {
  font-weight: 400;
}

.action-sheet-icon.sc-ion-action-sheet-ios {
  padding-bottom: 4px;
  margin-left: 0;
  margin-right: 32px;
  margin-top: 0;
  margin-bottom: 0;
  color: map-get($pxb-black, 500);
  --color : map-get($pxb-black, 500);
  font-size: 24px;
}

.action-sheet-group.sc-ion-action-sheet-ios:last-child {
  margin-bottom: 0;
}
.action-sheet-container.sc-ion-action-sheet-ios {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}